/* .registration-container{
    min-height: 80vh;
}

.register-bg{
    background-color: white;
    height: 609px;

}

.registration-box{
   background :linear-gradient(45deg, #FF7B54, #B3FFAE);
   color: white;
}

.redirect-back-btn{
    color: white;
    text-decoration: none;
} */